<div class="container"> 
  <h2>個体値カリキュレーター (サンムーン対応)</h2>
  <br>
  <%= form_for(@pokemon, as: :pokemon, url: calculate_pokemons_path(@pokemon), method: :put) do |f|%>
    <ul>
      <% @pokemon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class="form-group">
      <label>Level</label>
      <%= f.number_field :level, class: 'form-control level'%>
    </div>
    <div class="form-group">
      <label>Character</label>
      <%=select_tag 'character_id', options_for_select(PokemonCharacter.all.map{|p_c| [p_c.name, p_c.id]}), id: 'characters'%>
    </div>
    <div>
      <label>Pokemon</label>
      <select id="pokemons" onchange="setIcon(this);">
        <% Pokemon.collection.each do |pokemon|%>
          <option value="<%=pokemon[:value]%>"><%=pokemon[:name]%></option>
        <% end %>
      </select>
      <%= f.hidden_field :number, value: 1%>
    </div>
    <%= image_tag '/assets/pokemon_icons/1.gif', id: 'icon'%>
    <br>
    <div class="input-groups">
      <div name="personal_ability">
        <label>個体値</label>
        <div class="form-group">      
          <label>HP</label>
          <%= f.number_field :p_hp, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Attack</label>
          <%= f.number_field :p_attack, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Defend</label>
          <%= f.number_field :p_defend, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Sp_Attack</label>
          <%= f.number_field :p_sp_attack, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Sp_Defend</label>
          <%= f.number_field :p_sp_defend, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Speed</label>
          <%= f.number_field :p_speed, class: 'form-control'%>
        </div>
      </div>
      <div name="train_ability">
        <label>努力値</label>
        <div class="form-group">      
          <label>HP</label>
          <%= f.number_field :tr_hp, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Attack</label>
          <%= f.number_field :tr_attack, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Defend</label>
          <%= f.number_field :tr_defend, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Sp_Attack</label>
          <%= f.number_field :tr_sp_attack, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Sp_Defend</label>
          <%= f.number_field :tr_sp_defend, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label>Speed</label>
          <%= f.number_field :tr_speed, class: 'form-control'%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Calculate"%>
    </div>
  <% end %>
    <br>
    <div class="result">
      <label>能力値</label>
      <div class="form-group">      
        <label>HP</label>
        <%= @pokemon.real_hp%>
      </div>
      <div class="form-group">
        <label>Attack</label>
        <%= @pokemon.real_attack%>
      </div>
      <div class="form-group">
        <label>Defend</label>
        <%= @pokemon.real_defend%>
      </div>
      <div class="form-group">
        <label>Sp_Attack</label>
        <%= @pokemon.real_sp_attack%>
      </div>
      <div class="form-group">
        <label>Sp_Defend</label>
        <%= @pokemon.real_sp_defend%>
      </div>
      <div class="form-group">
        <label>Speed</label>
        <%= @pokemon.real_speed%>
      </div>
    </div>
</div>
<script>
  $("#pokemons").select2();
  $("#characters").select2();
  function setIcon(pokemon) {
    $('#icon').attr('src', '/assets/pokemon_icons/'+pokemon.value+'.gif'); 
   };
</script>